/* Putting the picture and the name together */
.daniel div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}
.jonathan div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}
.jeanette div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}
.patrick div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}
.kira div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}

div>img {
    border-radius: 100%;
    grid-column: 1/2;

}

div>#name {
    grid-column: 2/3;
}


/* daniel */

.container .daniel {
    color: white;
    background-color: hsl(263, 55%, 52%);
    background-image: url(bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: right 50px top;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 20px 20px 100px gray;
}

.container .daniel #p_daniel{
    color: hsl(264, 82%, 80%)
}

.daniel > div > img{
    border: 3px solid hsl(264, 82%, 80%);
}



/* jonathan */
.container .jonathan{
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 20px 20px 100px gray;
}

.container #name_jonathan, #p_jonathan{
    color: hsl(0, 0%, 81%);
}

.container #d_jonathan{
    color: white;
}


/* jeanette */
.container .jeanette{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 20px 20px 100px gray;
}

.container #name_jeanette, #p_jeanette{
    color: hsl(224, 10%, 45%);
}

.container #d_jeanette{
    color: hsl(217, 19%, 35%);
}



/* patrick */
.container .patrick{
    background-color: hsl(219, 29%, 14%);
    color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 20px 20px 100px gray;
}

.patrick > div > img{
    border: 3px solid hsl(263, 55%, 52%);
}


/* kira */
.container .kira{
    background-color: white;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 20px 20px 100px gray;
}

.container #name_kira, #p_kira{
    color: hsl(224, 10%, 45%);
}

.container #d_kira{
    color: hsl(217, 19%, 35%);
}