/* Putting the picture and the name together */
.daniel div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}
.jonathan div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}
.jeanette div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}
.patrick div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}
.kira div {
    display: grid;
    grid-template-columns: 80px 100px auto;
}

div>img {
    border-radius: 100%;
    grid-column: 1/2;

}

div>#name {
    grid-column: 2/3;
}